body{
    background-color: rgb(167, 167, 167);
  }

  .login-page{
    width: max-content;
    padding: 100px;
    margin: auto;
  }

  .form{
   background-color: white;
   max-width: 350px;
   position:absolute;
   top: 60px;
   right: 5px;
   height: auto;
   margin: auto;
   padding: 30px 40px;
   border-radius: 10px;
   border: 3px solid black;
   text-align: center;
  }
  
  label[value = "Label"]{
    color: rgb(25, 94, 36);
    text-align: center; 
  }

  input[attribute = "login-info"]{
    font-family: arial;
    background:rgb(235, 235, 235);
    width: 250px;
    margin: auto;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    font-size: 10pt;
    border: none;
  }

  input[value = "Login"]{
    background-color: rgb(3, 87, 243);
    color: white;
    border: none;
    width: 250px;
    height: 35px;
    margin-top: 10px;
  }