body{
    display: flex;
    margin: 0px;
    background-image: linear-gradient(180deg, rgb(247, 223, 181) 0%, rgba(255,255,255,1) 450px);
    height: 100%;
    flex-direction: column;
    align-content: center;
    height:3000px;
    background-repeat: no-repeat;
}

body{
    background-color: rgb(167, 167, 167);
  }

  .login-page{
    display: flex;
    width: max-content;
    padding: 100px;
    margin: right;
  }
  .form{
   background-color: white;
   max-width: 350px;
   position:absolute;
   top: 80px;
   right: 5px;
   height: auto;
   margin: auto;
   padding: 30px 40px;
   border-radius: 10px;
   border: 3px solid black;
   text-align: center;
  } 
  label[value = "Label"]{
    color: rgb(25, 94, 36);
    text-align: center; 
  }
  input[attribute = "login-info"]{
    font-family: arial;
    background:rgb(235, 235, 235);
    width: 250px;
    margin: auto;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    font-size: 10pt;
    border: none;
  }
  input[value = "Login"]{
    background-color: rgb(3, 87, 243);
    color: white;
    border: none;
    width: 250px;
    height: 35px;
    margin-top: 10px;
  }

a{
    height: 56px;

    font-family: 'Noto Sans Mono', monospace;
    font-style: black;
    font-weight: bold;
    font-size: 25px;
    line-height: 56px;
    text-decoration: none;
    color: #000000;

    margin: 34px;
    cursor: pointer;
}

h1{
    height: 56px;

    font-family: 'Noto Sans Mono', monospace;
    font-style: black;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    text-decoration: none;
    color: #000000;

    margin: 34px;
    cursor: pointer;
}

h3{
    height: 20px;

    font-family: 'Noto Sans Mono', monospace;
    font-style: black;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    color: #000000;

    margin: 0px;
}

p{
    color: white;
    font-family: 'Noto Sans Mono', monospace;
    font-style: black;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    margin: 0px;
}

footer{
    display: flex;
    flex-direction: column;
    background-image: url("bottom.JPG");
    background-size: 100%;
}

.navBar{
    width: 100%;
    justify-content: right;
    display: flex;
}

.backdrop{
    margin: 150px 450px;
    width: 1000px;
    background-image: url("carnival.jpeg");
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    align-items: center;
    background-size: cover;
    padding: 20px;
}   

.infoBox{
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    padding: 50px;
}

.photobox{
    display: flex;
    flex-direction: row;
    margin: 0px -150px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

.photoInBox{
    border: black;
    border-style: solid;
    border-width: 2px;
}

.photoboxRev{
    display: flex;
    flex-direction: row-reverse;
    margin: 0px -150px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

.topBoxStuff{
    
    padding: 25px;
}

.artistText{
    color: white;
    font-family: 'Noto Sans Mono', monospace;
    font-style: black;
    font-weight: bold;
    font-size: 25px;
    padding: 40px;
    margin: 0px;
}

.merchRow{
    margin: 50px 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
} 

.merchItem{
    display: flex;
    flex-direction: column;
    width: 675px;
}

.photoMerch{
    height: 450px;
    width: 675px;
}

.merchText{
    color: black;
    font-family: 'Noto Sans Mono', monospace;
    font-style: black;
    font-weight: bold;
    font-size: 17px;
    padding: 0px;
    margin: 0px;
}

.faqbody{
    margin: 50px 640px 50px 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.faqQ{
    color: black;
    font-family: 'Noto Sans Mono', monospace;
    font-style: black;
    font-weight: bold;
    font-size: 25px;
    padding: 0px;
    margin: 0px;
}

.faqA{
    color: black;
    font-family: 'Noto Sans Mono', monospace;
    font-style: black;
    font-weight: normal;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

.faqBlock{
    display: flex;
    flex-direction: column;
    padding: 20px;
} 

.ticket{
    display: flex;
    flex-direction: column;
    width: 450px;
}

.photoTicket{
    height: 450px;
    width: 450px;
}

